.img-cover {
  @apply h-full w-full object-cover;
}

.bg-img::after {
  content: "";
  @apply absolute bg-cover bg-center;
}

.bg-img1::after {
  background-image: url("../img/heart.png");
  @apply -top-[30px] -left-[50px] w-[57px] h-[57px];
}

.bg-img2::after {
  background-image: url("../img/great.png");
  @apply -top-[30px] -left-[70px] w-[62px] h-[99px];
}

.bg-border-yellow-lg::after {
  content: "";
  background-image: url("../img/bg-border-yellow.png");
  @apply absolute top-0 -left-[22px] w-[650px] h-[80px] -z-10 bg-center bg-cover;
}

.bg-border-yellow::after {
  content: "";
  background-image: url("../img/bg-border-yellow.png");
  @apply absolute top-0 -left-[22px] w-full h-full -z-10 bg-center bg-cover;
}

.input-default {
  @apply rounded-[8px] text-[16px] font-[400] w-full h-[44px] py-[10px] px-[20px] text-gray-700 focus:outline-none bg-[#f2f2f2] focus:border-transparent focus:ring-0;
}

.ant-drawer-content-wrapper {
  @apply !w-[300px];
}
