.img-cover {
  @apply h-full w-full object-cover;
}

.bg-img::after {
  content: "";
  @apply absolute bg-cover bg-center;
}

.bg-img1::after {
  background-image: url("../img/heart.png");
  @apply -top-[30px] -left-[50px] w-[57px] h-[57px];
}

.bg-img2::after {
  background-image: url("../img/great.png");
  @apply -top-[30px] -left-[70px] w-[62px] h-[99px];
}

.bg-border-yellow-lg::after {
  content: "";
  background-image: url("../img/bg-border-yellow.png");
  @apply absolute top-0 -left-[22px] w-[650px] h-[80px] -z-10 bg-center bg-cover;
}

.bg-border-yellow::after {
  content: "";
  background-image: url("../img/bg-border-yellow.png");
  @apply absolute top-[1px] -left-[11px] w-[111%] h-full -z-10 bg-center bg-cover;
}

.input-default {
  @apply rounded-[8px] text-[16px] font-[400] w-full h-[44px] py-[10px] px-[20px] text-gray-700 focus:outline-none bg-[#f2f2f2] focus:border-transparent focus:ring-0;
}

.ant-drawer-content-wrapper {
  @apply !w-[300px];
}

.headerBgMobile {
  background-image: url("../img/header-img1.jpeg");
  background-position: bottom center;
  @apply bg-cover;
}

/* SubscriptionButton.css */
.message {
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
}

.message.success {
  background-color: #00c408;
  color: #fff;
}

.message.error {
  background-color: #ff4e4e;
  color: #fff;
}

.message.show {
  opacity: 1;
}

.react-multi-carousel-item {
  width: 150px;
}

.react-multi-carousel-track {
  @apply space-x-[4px];
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Remove default appearance */
  margin: 0; /* Remove default margin */
}

/* Optionally, you can also remove the text field styling for number inputs */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
